<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<!-- <servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>com.my.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>pqr</servlet-name>
		<servlet-class>com.my.SqServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pqr</servlet-name>
		<url-pattern>/sq</url-pattern>
	</servlet-mapping> -->
	
	
	<servlet>
		<servlet-name>ser</servlet-name>
		<servlet-class>com.my.MyServlet</servlet-class>
		
		<init-param>
			<param-name>name</param-name>
			<param-value>Pratiksha</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ser</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>name</param-name>
		<param-value>Siddhesh</param-value>
	</context-param>
	
	<context-param>
		<param-name>phone</param-name>
		<param-value>Samsung</param-value>
	</context-param>
<!-- URL and Servlet mapping for /addAlien endpoint -->

	<servlet>
		<servlet-name>xyz</servlet-name>
		<servlet-class>com.my.Alien</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xyz</servlet-name>
		<url-pattern>/addAlien</url-pattern>
	</servlet-mapping>
	
	<filter>
	    <filter-name>IDFilter</filter-name>
	    <filter-class>com.my.IDFilter</filter-class>
	</filter>
	<filter>
	    <filter-name>NameFilter</filter-name>
	    <filter-class>com.my.NameFilter</filter-class>
	</filter>
	
	<filter-mapping>
        <filter-name>NameFilter</filter-name>
        <url-pattern>/addAlien</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
	    <filter-name>IDFilter</filter-name>
	    <url-pattern>/addAlien</url-pattern>
	</filter-mapping>
	
	
</web-app>