	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="t" class="beans.Test">
		
		<property name="fruits">
			<list>
				<value>Apple</value>
				<value>Mango</value>
				<value>Peach</value>
			</list>
		</property>
		
		<property name="cricketers"> 
			<set>
				<value>Sachin</value>
				<value>Sehwag</value>
				<value>Sachin</value>			
			</set>
		</property>
		
		<property name="cc"> 
			<map>
				<entry key="India" value="Delhi"/>
				<entry key="USA" value="Washignton DC"/>
				<entry key="UK" value="London"/>
			</map>
		</property>
		
	</bean>
</beans>